# Python and MongoDB Integration

In [2]:
!pip install pymongo[srv]

Collecting pymongo[srv]
  Downloading pymongo-4.0.1-cp39-cp39-win_amd64.whl (354 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
Installing collected packages: pymongo, dnspython
Successfully installed dnspython-2.2.0 pymongo-4.0.1

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@clusterfirst.hf5w1.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['clusterfirst-shard-00-00.hf5w1.mongodb.net:27017', 'clusterfirst-shard-00-01.hf5w1.mongodb.net:27017', 'clusterfirst-shard-00-02.hf5w1.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-swx09v-shard-0', tls=True), 'test')

In [6]:
#If there is a DNS Issue, run below command

#!pip install dnspython

In [8]:
client.list_database_names()

['admin', 'local']

In [9]:
#table in sql =  Collection in mongo
#record/row in sql =  document in mongo

## Insert into mongoDB

In [4]:
db = client.MyFirstMongoDB

In [5]:
coll=db["myFirstCollection"]

In [12]:
firstDataSet={'name':'Ajay','city':'GGN','Mobile':12454202}

In [13]:
coll.insert_one(firstDataSet)

In [14]:
secondDataSet={'name':'Ajay1','city':'GGN1','Mobile':124542021,'OfficeLocation':'GGN'}

In [15]:
coll.insert_one(secondDataSet)

In [16]:
thirdDataSet={'_id':10,'name':'Sahil','city':'GGN1','Mobile':124542021,'OfficeLocation':'GGN'}
coll.insert_one(thirdDataSet)

In [17]:
listOfDatasets=[
    {'name':'awAjay1','city':'GGN1','Mobile':124542322021,'OfficeLocation':'GGN'},
    {'name':'qwAjay1','city':'GGN1','Mobile':124234542021,'OfficeLocation':'GGN'},
    {'name':'sdfAjay1','city':'GGN1','Mobile':124234542021,'OfficeLocation':'GGN'}]

In [18]:
coll.insert_many(listOfDatasets)

## Reterieve  data from mongoDB

In [19]:
for i in coll.find():
    print(i)

{'_id': ObjectId('620fab977280a1ef90868ea8'), 'name': 'Ajay', 'city': 'GGN', 'Mobile': 12454202}
{'_id': ObjectId('620fabf07280a1ef90868ea9'), 'name': 'Ajay1', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}
{'_id': 10, 'name': 'Sahil', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eaa'), 'name': 'awAjay1', 'city': 'GGN1', 'Mobile': 124542322021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eab'), 'name': 'qwAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eac'), 'name': 'sdfAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}

In [24]:
for i in coll.find({'name':'Ajay'}):
    print(i)

{'_id': ObjectId('620fab977280a1ef90868ea8'), 'name': 'Ajay', 'city': 'GGN', 'Mobile': 12454202}

In [35]:
query_string = {'$regex': '.*1'}
for i in coll.find({'name':query_string}):
    print(i)

{'_id': ObjectId('620fabf07280a1ef90868ea9'), 'name': 'Ajay1', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eaa'), 'name': 'awAjay1', 'city': 'GGN1', 'Mobile': 124542322021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eab'), 'name': 'qwAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eac'), 'name': 'sdfAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}

In [37]:
for i in coll.find({"name" :{"$in" :["Ajay" , "Ajay1"]},'city':"GGN1"}):
    print(i)

{'_id': ObjectId('620fabf07280a1ef90868ea9'), 'name': 'Ajay1', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}

In [39]:
#gives any one document
coll.find_one()

{'_id': ObjectId('620fab977280a1ef90868ea8'),
 'name': 'Ajay',
 'city': 'GGN',
 'Mobile': 12454202}

In [42]:
#Filter greater/less than 
#for i in coll1.find({"qty":{'$gte' : 25}}):
#for i in coll1.find({"qty":{'$lte' : 25}}):
#for i in coll1.find({'qty' : {'$not' :{"$gte" : 25}}}):
    #print(i)

In [45]:
for i in coll.find().limit(2):
    print(i)

{'_id': ObjectId('620fab977280a1ef90868ea8'), 'name': 'Ajay', 'city': 'GGN', 'Mobile': 12454202}
{'_id': ObjectId('620fabf07280a1ef90868ea9'), 'name': 'Ajay Updated', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}

## Update Collection

In [43]:
coll.update_many({'name': 'Ajay1'},{"$set":{'name': 'Ajay Updated'}})

In [44]:
for i in coll.find():
    print(i)

{'_id': ObjectId('620fab977280a1ef90868ea8'), 'name': 'Ajay', 'city': 'GGN', 'Mobile': 12454202}
{'_id': ObjectId('620fabf07280a1ef90868ea9'), 'name': 'Ajay Updated', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}
{'_id': 10, 'name': 'Sahil', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eaa'), 'name': 'awAjay1', 'city': 'GGN1', 'Mobile': 124542322021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eab'), 'name': 'qwAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eac'), 'name': 'sdfAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}

In [47]:
coll.find_one_and_update({'name': 'Ajay Updated'} , {"$set" : {"Mobile" : 9999999999}})

{'_id': ObjectId('620fabf07280a1ef90868ea9'),
 'name': 'Ajay Updated',
 'city': 'GGN1',
 'Mobile': 124542021,
 'OfficeLocation': 'GGN'}

In [50]:
coll.find_one({'name': 'Ajay Updated'})

{'_id': ObjectId('620fabf07280a1ef90868ea9'),
 'name': 'Ajay Updated',
 'city': 'GGN1',
 'Mobile': 9999999999,
 'OfficeLocation': 'GGN'}

## Delete documents from MongoDB

In [52]:
coll.delete_many({'name': 'sdfAjay1'})

In [6]:
for i in coll.find():
    print(i)

{'_id': ObjectId('620fab977280a1ef90868ea8'), 'name': 'Ajay', 'city': 'GGN', 'Mobile': 12454202}
{'_id': ObjectId('620fabf07280a1ef90868ea9'), 'name': 'Ajay Updated', 'city': 'GGN1', 'Mobile': 9999999999, 'OfficeLocation': 'GGN'}
{'_id': 10, 'name': 'Sahil', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eaa'), 'name': 'awAjay1', 'city': 'GGN1', 'Mobile': 124542322021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eab'), 'name': 'qwAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}

In [7]:
coll.delete_one({'name':'qwAjay1'})

In [8]:
for i in coll.find():
    print(i)

{'_id': ObjectId('620fab977280a1ef90868ea8'), 'name': 'Ajay', 'city': 'GGN', 'Mobile': 12454202}
{'_id': ObjectId('620fabf07280a1ef90868ea9'), 'name': 'Ajay Updated', 'city': 'GGN1', 'Mobile': 9999999999, 'OfficeLocation': 'GGN'}
{'_id': 10, 'name': 'Sahil', 'city': 'GGN1', 'Mobile': 124542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('620fada67280a1ef90868eaa'), 'name': 'awAjay1', 'city': 'GGN1', 'Mobile': 124542322021, 'OfficeLocation': 'GGN'}

In [11]:
#To Delete all documents in a collection pass the {} empty.

#coll.delete_many({})

## Drop Entire Collection

In [12]:
db = client.MyFirstMongoDB

In [13]:
coll=db["secondCollection"]

In [14]:
listOfDatasets=[
    {'name':'awAjay1','city':'GGN1','Mobile':124542322021,'OfficeLocation':'GGN'},
    {'name':'qwAjay1','city':'GGN1','Mobile':124234542021,'OfficeLocation':'GGN'},
    {'name':'sdfAjay1','city':'GGN1','Mobile':124234542021,'OfficeLocation':'GGN'}]

In [15]:
coll.insert_many(listOfDatasets)

In [16]:
for i in coll.find():
    print(i)

{'_id': ObjectId('622b32268a756f394aa107f8'), 'name': 'awAjay1', 'city': 'GGN1', 'Mobile': 124542322021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('622b32268a756f394aa107f9'), 'name': 'qwAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}
{'_id': ObjectId('622b32268a756f394aa107fa'), 'name': 'sdfAjay1', 'city': 'GGN1', 'Mobile': 124234542021, 'OfficeLocation': 'GGN'}

In [21]:
def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME='secondCollection', DB_NAME='MyFirstMongoDB', db=db)

Collection:'secondCollection' in Database:'MyFirstMongoDB' exists

In [22]:
coll.drop()

In [23]:
_ = checkExistence_COL(COLLECTION_NAME='secondCollection', DB_NAME='MyFirstMongoDB', db=db)

Collection:'secondCollection' in Database:'MyFirstMongoDB' does not exists OR
    no documents are present in the collection

In [26]:
coll=db["myFirstCollection"]

In [35]:
for id, record in enumerate(coll.find()):
    print(f"{id} - {record['name']}\n")

0 - Ajay

1 - Ajay Updated

2 - Sahil

3 - awAjay1