In [1]:
import sqlite3

# Create and Connect DB

In [24]:
db = sqlite3.connect("MySqlLite.db")
#It Creates DB in current path of notebook

In [25]:
c = db.cursor()

## Create Table

In [5]:
c.execute('create table tbEmp(Name text , Designation  text , Salary real)')

## Insert into table

In [6]:
c.execute("insert into tbEmp values('Ajay' , 'Associate' , 15000.50)")

In [7]:
c.execute("insert into tbEmp values ('Ajay' , 'Associate' , 15000.50),('Ajay1' , 'Associate1' , 15001.50)")

## Select from table

In [26]:
data = c.execute("select * from tbEmp")

In [9]:
for i in data:
    print(i)

('Ajay', 'Associate', 15000.5)
('Ajay', 'Associate', 15000.5)
('Ajay1', 'Associate1', 15001.5)

In [27]:
data.fetchall()

[('Updated-Ajay', 'Associate', 15000.5),
 ('Updated-Ajay', 'Associate', 15000.5),
 ('Ajay', 'Associate', 15002.5),
 ('Ajay1', 'Associate1', 15003.5)]

In [10]:
db.commit()

In [11]:
db.close()

## Update table

In [12]:
db = sqlite3.connect("MySqlLite.db")
c = db.cursor()

In [13]:
data = c.execute("update tbEmp set Name='Updated-Ajay'")

In [14]:
data = c.execute("select * from tbEmp")
for i in data:
    print(i)

('Updated-Ajay', 'Associate', 15000.5)
('Updated-Ajay', 'Associate', 15000.5)
('Updated-Ajay', 'Associate1', 15001.5)

In [15]:
db.commit()

## Delete from table

In [16]:
data = c.execute("delete from tbEmp where salary>=15001.5")

In [17]:
data = c.execute("select * from tbEmp")
for i in data:
    print(i)

('Updated-Ajay', 'Associate', 15000.5)
('Updated-Ajay', 'Associate', 15000.5)

In [21]:
db.commit()

In [22]:
db.close()