In [1]:
import pandas as pd

In [24]:
ds=pd.read_csv('missingdata.csv')

In [25]:
ds

   col1  col2  Height  Weight     col5
0   2.0   5.0     170    65.0  11050.0
1   4.0   6.0     165    60.0   9900.0
2   6.0   8.0     190    80.0      NaN
3   NaN   9.0     160    62.0   9920.0
4  10.0   NaN     140     NaN      NaN
5  12.0  15.0     200    85.0  17000.0

In [26]:
ds.describe()

            col1       col2      Height     Weight         col5
count   5.000000   5.000000    6.000000   5.000000      4.00000
mean    6.800000   8.600000  170.833333  70.400000  11967.50000
std     4.147288   3.911521   21.544528  11.326959   3397.77746
min     2.000000   5.000000  140.000000  60.000000   9900.00000
25%     4.000000   6.000000  161.250000  62.000000   9915.00000
50%     6.000000   8.000000  167.500000  65.000000  10485.00000
75%    10.000000   9.000000  185.000000  80.000000  12537.50000
max    12.000000  15.000000  200.000000  85.000000  17000.00000

In [27]:
from sklearn.impute import SimpleImputer

In [28]:
imp=SimpleImputer(strategy='mean')

In [29]:
imp.fit(ds[['col1','col2']])

SimpleImputer()

In [30]:
imp.transform(ds[['col1','col2']])

array([[ 2. ,  5. ],
       [ 4. ,  6. ],
       [ 6. ,  8. ],
       [ 6.8,  9. ],
       [10. ,  8.6],
       [12. , 15. ]])

In [32]:
imp=SimpleImputer(strategy='mean')
ds.iloc[:,:]=imp.fit_transform(ds)

In [34]:
ds
#here weight is calculated wrong bas on simple imputer

   col1  col2  Height  Weight     col5
0   2.0   5.0   170.0    65.0  11050.0
1   4.0   6.0   165.0    60.0   9900.0
2   6.0   8.0   190.0    80.0  11967.5
3   6.8   9.0   160.0    62.0   9920.0
4  10.0   8.6   140.0    70.4  11967.5
5  12.0  15.0   200.0    85.0  17000.0

# Iterative Imputer

In [40]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [44]:
ds=pd.read_csv('missingdata.csv')

In [41]:
imp=IterativeImputer()
ds.iloc[:,:]=imp.fit_transform(ds)

In [42]:
ds

        col1       col2  Height     Weight          col5
0   2.000000   5.000000   170.0  65.000000  11050.000000
1   4.000000   6.000000   165.0  60.000000   9900.000000
2   6.000000   8.000000   190.0  80.000000  15182.942547
3  10.205234   9.000000   160.0  62.000000   9920.000000
4  10.000000   7.634242   140.0  47.518766   5954.337801
5  12.000000  15.000000   200.0  85.000000  17000.000000

In [47]:
imp.fit_transform(ds[['Height','Weight','col5']])

array([[  170.        ,    65.        , 11050.        ],
       [  165.        ,    60.        ,  9900.        ],
       [  190.        ,    80.        , 15349.86168737],
       [  160.        ,    62.        ,  9920.        ],
       [  140.        ,    46.09439625,  5511.62258711],
       [  200.        ,    85.        , 17000.        ]])

In [50]:
ds[['Height','Weight','col5']]=imp.fit_transform(ds[['Height','Weight','col5']])

In [51]:
ds

   col1  col2  Height     Weight          col5
0   2.0   5.0   170.0  65.000000  11050.000000
1   4.0   6.0   165.0  60.000000   9900.000000
2   6.0   8.0   190.0  80.000000  15349.861687
3   NaN   9.0   160.0  62.000000   9920.000000
4  10.0   NaN   140.0  46.094396   5511.622587
5  12.0  15.0   200.0  85.000000  17000.000000

# KNN Imputer

In [52]:
from sklearn.impute import KNNImputer

In [56]:
ds=pd.read_csv('missingdata.csv')

In [54]:
imp=KNNImputer(n_neighbors=2)
ds.iloc[:,:]=imp.fit_transform(ds)

In [55]:
ds

   col1  col2  Height  Weight     col5
0   2.0   5.0   170.0    65.0  11050.0
1   4.0   6.0   165.0    60.0   9900.0
2   6.0   8.0   190.0    80.0  14025.0
3   7.0   9.0   160.0    62.0   9920.0
4  10.0   7.5   140.0    61.0   9910.0
5  12.0  15.0   200.0    85.0  17000.0

In [57]:
ds=pd.read_csv('missingdata.csv')

In [58]:
imp.fit_transform(ds[['Height','Weight','col5']])

array([[  170.,    65., 11050.],
       [  165.,    60.,  9900.],
       [  190.,    80., 14025.],
       [  160.,    62.,  9920.],
       [  140.,    61.,  9910.],
       [  200.,    85., 17000.]])